*.a
*.bin
*.check_cache
*.dll
*.exe
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.lastcodeanalysisissucceded
*.log
*.make
*.marks
*.o
*.obj
*.opendb
*.opensdf
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.VC.db
*.VC.db*
*~ml
*cache
04_Hello-Triangle_refactor/CMakeLists.txt
04_Hello-Triangle/CMakeLists.txt
05_Shaders_refactor/CMakeLists.txt
05_Shaders/CMakeLists.txt
06_Textures_refactor/CMakeLists.txt
06_Textures/CMakeLists.txt
09_Camera_refactor/CMakeLists.txt
09_Camera/CMakeLists.txt
10_Lighting_Colors_refactor/CMakeLists.txt
10_Lighting_Colors/CMakeLists.txt
11_Basic_Lighting_refactor/CMakeLists.txt
11_Basic_Lighting/CMakeLists.txt
Build-*
build/*
CMakeFiles/
intermediate
runDir

imgui.ini
Build-Windows
Build-Linux
*.vcxproj
*.filters
